<deployment>
   <hosts>
    <host name="localhost"
          dir="/home/karim/Documents/Universite/M1/S2/CPS"/>
  </hosts>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="test1"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="publisher_subscriber_bcm4java.fr.sorbonne_u.DistributedCVM"/>
    <jvm2hostname jvmuri="test2"
        rmiRegistryCreator="false"
        	hostname="localhost"
        mainclass="publisher_subscriber_bcm4java.fr.sorbonne_u.DistributedCVM"/>
  </jvms2hostnames>
</deployment>
